* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

#cluster-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
}

#inventory-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.inventory {
    border: 3px solid blueviolet;
    margin: 0 .25em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #f0f0f0;
    transition: all 0.3s;
    font-size: 2em;
    margin-top: .25em;
}

.item {
    padding: 5px;
    margin: 2px 0;
    background: #d0eaff;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    font-size: 2em;
    justify-content: center;
    align-items: center;

}